            <div style="width:100%;text-align: right; background-color: white;" class="clearfix"> 
                <div id="div-languages" >  
                    
                    {% if login is defined %}
                    <a href="/signoff/{{login}}?wayback={{wayback}}">[{{login}}]</a>
                    {% endif %}
                    
                    {% if lang is defined %}
                    
                    {% if lang == "en" %}
                        <span id="en" >[en]</span>
                        <a href="/changelanguage?newlang=ru&wayback={{wayback}}" id="ru">[ru]</a>
                    {% elseif lang == "ru" %}
                        <a href="/changelanguage?newlang=en&wayback={{wayback}}" id="en">[en]</a>
                        <span id="ru" >[ru]</span>
                    {% else %}
                        lang: {{lang}}
                    {% endif %}
                    
                    {% else %}
                        <span id="en" >[en]</span>
                        <a href="/changelanguage?newlang=ru&wayback={{wayback}}" id="ru">[ru]</a>
                    {% endif %}
                </div>
                
                <a href="/list"> {{localizedmessages['scannedlist']|default('[list]')}} </a> &nbsp;
                <a href="/list/v2"> {{localizedmessages['scannedlist2']|default('[list2]')}} </a> &nbsp;
                <a href="/registeredbarcodes"> {{localizedmessages['registeredlist']|default('[Registered]')}} </a> &nbsp;
                <a href="/options"> {{localizedmessages['optionsentry']|default('[Options]') }} </a>
                
            </div>