            <div style="width:100%;text-align: right; background-color: white;" class="clearfix"> 
                <div id="div-languages" >  
                    
                    {% if login is defined %}
                    <a href="/signoff/{{login}}?wayback={{wayback}}">[{{login}}]</a>
                    {% endif %}
                    
                    {% if lang is defined %}
                    
                    {% if lang == "en" %}
                        <span id="en" >[en]</span>
                        <a href="/changelanguage?newlang=ru&wayback={{wayback}}" id="ru">[ru]</a>
                    {% elseif lang == "ru" %}
                        <a href="/changelanguage?newlang=en&wayback={{wayback}}" id="en">[en]</a>
                        <span id="ru" >[ru]</span>
                    {% else %}
                        lang: {{lang}}
                    {% endif %}
                    
                    {% else %}
                        <span id="en" >[en]</span>
                        <a href="/changelanguage?newlang=ru&wayback={{wayback}}" id="ru">[ru]</a>
                    {% endif %}
                </div>
                {% autoescape false %}
                <a href="#" id="a-commonmenu-trigger" onclick="triggerMenu(this);">{{localizedmessages["showlist"]|default('show')|raw}}</a>
                {% endautoescape %}
                <div id="div-commonmenu"> 
                
                <a href="/list"> {{localizedmessages['scannedlist']|default('[list]')}} </a> &nbsp; <br/>
                <a href="/list/v2"> {{localizedmessages['scannedlist2']|default('[list2]')}} </a> &nbsp; <br/>
                <a href="/list/v3"> {{localizedmessages['scannedlist3']|default('[list3]')}} </a> &nbsp; <br/>
                <a href="/registeredbarcodes"> {{localizedmessages['registeredlist']|default('[Registered]')}} </a> &nbsp; <br/>
                
                <a href="/options"> {{localizedmessages['optionsentry']|default('[Options]') }} </a> &nbsp;
                
                </div>
            </div>
                <script type="text/javascript"> 
                    {% autoescape false %}
                    function triggerMenu (in_itmTrigger) {
                        var triggerObject = $("#a-commonmenu-trigger");
                        $("#div-commonmenu").toggle();
                        if ($("#div-commonmenu").css('display') !== 'none') {
                            triggerObject.html('{{localizedmessages["hidelist"]|default('hide')|raw}}');
                            let savedWidth = $("#div-commonmenu").css('width');
                            let triggerObjectWidth = parseInt($("#a-commonmenu-trigger").css('width'));
                            let triggerObjectRight = triggerObjectWidth+triggerObject.position().left;
                            $("#div-commonmenu").offset({top: $("#div-commonmenu").position().top, 
                                left: triggerObjectRight-parseInt(savedWidth) });
                            $("#div-commonmenu").css('width', savedWidth);
                        } else {
                            
                            triggerObject.html('{{localizedmessages["showlist"]|default('show')|raw}}');
                        }
                    }
                    {% endautoescape %}
                </script>