<html>
    <head>
        <meta charset="UTF8">
        <title> {{ localizedmessages['header']|default('SM_NM Scanner') }} </title>
         <style>
             div#edit-itm-rootdivform {
                 display: none; 
             }
        </style>
        <link rel="stylesheet" type="text/css" href="../webtemplatesresources/commonbar.css" >
        <script type="text/javascript" src="../webtemplatesresources/jquery-3.3.1.min.js">  </script>
        
        <script type="text/javascript" src="../webtemplatesresources/fengdatepicker/datepicker.js"> </script>
        <link rel="stylesheet" href="../webtemplatesresources/fengdatepicker/datepicker.min.css">
        
        <link rel="stylesheet" type="text/css" href='../webtemplatesresources/timepicker/jquery.timepicker.min.css' >
        <script type="text/javascript" src="../webtemplatesresources/timepicker/jquery.timepicker.min.js">  </script>
        
        <script src="../webtemplatesresources/featherlight/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" href="../webtemplatesresources/featherlight/release/featherlight.min.css" type="text/css">
        
        <script type="text/javascript"> 
            function invokeAction(in_entry) {
                //Example of featherlight: $.featherlight("+++",{type:'text'});
                //indicates what action does this button do
                var btnModificator = in_entry.dataset.editbtnMode;
                //what entry in scan history table does it relate to...
                var btnID = in_entry.dataset.editbtnId;
                console.log(in_entry.dataset);
                switch(btnModificator) {
                    case "edit": {
                        let scanentryID=in_entry.dataset.editbtnEntityid;
                        let scanentryDateTimeArray=in_entry.dataset.editbtnEntitydatetime.split(" ");
                        let scanentryDate = scanentryDateTimeArray[0];
                        let scanentryTime = scanentryDateTimeArray[1];
                        
                        let longHTML = "{{ include ('manualScanEvtSubtemplatePart1.twig', {'frmdatepickuniqueID':'datepick_upditm', 'frmtimepickuniqueID':'timepick_upditm', 'frmentitypickuniqueID':'entitypick_upditm', 'frmactivity':'/recvbarcodeupd', 'frmusage':'upditem'})|escape('js') }}";
                        $.featherlight(longHTML, {type:'html'});
                        //console.log('after featherlight');
                        $('#datepick_upditm').removeAttr("readonly");
                        $('#datepick_upditm').val(scanentryDate);
                        $('#timepick_upditm').val(scanentryTime);
                        $('#entitypick_upditm').val(scanentryID);
                        $("div.featherlight-inner>p").css("display", "none");
                        $("div.featherlight-inner form").attr("action", "/recvbarcodeupdate");
                        $("div.featherlight-inner form").off();
                        $('div.featherlight-inner form input[name="currentscanrecord"]').val(btnID);
                        break;
                    }
                    case "remove": {
                            //TODO: send POST (not GET!) query using AJAX
                        let scanentryID=in_entry.dataset.editbtnId;
                        location.href = "/recvbarcoderemove?scanentryid="+scanentryID;
                        break;
                    }
                }
            }
        </script>
    </head>
    <body>
        <div style="width:100%"> 
            <a href="/">[<<<]</a>
        </div>
        {% include 'commonbar.twig' %}
        {% include 'manualScanEvtSubtemplatePart1.twig' with {'frmdatepickuniqueID':'datepick_newitm', 'frmtimepickuniqueID':'timepick_newitm', 'frmentitypickuniqueID':'entitypick_newitm', 'frmactivity':'/recvbarcodemanual', 'frmusage':'additem'} %}
        <div id="edit-itm-rootdivform">

        </div>
        <div style="width:100%; margin-bottom:10px; border-top:1px dotted black">
            <input type="text" id="startPicker" data-toggle="datepickerfrom" readonly="readonly" > 
            <input type="text" id="endPicker" data-toggle="datepickerto" readonly="readonly" >
            <a href="/list?from={{datetime["fromstring"]}}&to={{datetime["tostring"]}}" id="filterbydate">{{localizedmessages["filterbydate"]|default('[By Date]')}}</a>
        </div>
        <h4>{{localizedmessages["tableheader"]}}</h4>
        <table class="stat-data">
            <thead> 
                <tr> 
                    <th class="stat-data" >&nbsp;</th> 
                    <th class="stat-data" colspan="2"> {{localizedmessages['rawbarcode_header']|default('sequence coded in barcode')}} </th> 
                    <th class="stat-data" > {{localizedmessages['scandatetime_header']|default('scanning date')}} </th> 
                </tr>
            </thead>
            {% for singlescan in scanlist %}
            <tr class="stat-data"> 
                <td class="stat-data">{{ singlescan.ID|default('-----')|e }}</td>
                <td class="stat-data">[{{ singlescan.KNOWNBARCODE_ID|default('-----')|e }}]{{ singlescan.RAWBARCODE|default('-----')|e }}</td>
                <td class="stat-data">{{ singlescan.FIELD1|default('-----')|e }} {{ singlescan.FIELD2|default('-----')|e }} {{ singlescan.FIELD3|default('-----')|e }}</td>
                <td class="stat-data">{{ singlescan.SCANDATETIME|default('-----')|e }}</td>
                <td> <input type="button" value="{{localizedmessages["pageform_edit"]|default("[Edit]")}}" data-editbtn-id="{{singlescan.ID}}" data-editbtn-entityid="{{singlescan.KNOWNBARCODE_ID}}" data-editbtn-entitydatetime="{{singlescan.SCANDATETIME}}" data-editbtn-mode="edit" onclick="invokeAction(this);"> 
                     <input type="button" value="{{localizedmessages["pageform_remove"]|default("[Remove]")}}" data-editbtn-id="{{singlescan.ID}}" data-editbtn-mode="remove" onclick="invokeAction(this);"> 
                </td>
            </tr>
            {% endfor %}
            
        </table>
        
        <script type="text/javascript">
            {% if manualcodeentrystatus is defined %}
                {% if manualcodeentrystatus == 'OK' %}
                    alert("{{localizedmessages["pageform_addmsgok"]|default("OK:Added")}}");
                {% elseif manualcodeentrystatus == 'NOTFOUND' %}
                    alert("{{localizedmessages["pageform_addmsgnotfound"]|default("FAILURE:NOT FOUND")}}");
                {% endif %}
            {% elseif manualcodeupdatestatus is defined %}
                {% if manualcodeupdatestatus == 'OK' %}
                    alert("{{localizedmessages["pageform_editmsgok"]|default("OK:Updated")}}");
                {% elseif manualcodeupdatestatus == 'NOTFOUND' %}
                    alert("{{localizedmessages["pageform_editmsgnotfound"]|default("FAILURE:NOT FOUND")}}");
                {% endif %}
            {% elseif manualcoderemovestatus is defined %}        
               alert("{{manualcoderemovestatus}}");
            {% endif %}
                
            var firstdate = new Date( parseInt("{{datetime["from"]}}".substring(6,10)), parseInt("{{datetime["from"]}}".substring(3,5)), parseInt("{{datetime["from"]}}".substring(0,2)) ); 
            var seconddate = new Date( parseInt("{{datetime["to"]}}".substring(6,10)), parseInt("{{datetime["to"]}}".substring(3,5)), parseInt("{{datetime["to"]}}".substring(0,2)) );;
            function reformatDateSelectionURL() {
                let newurl = "/list?from=";
                newurl+=( (firstdate.getDate() < 10 ? '0' : '')+firstdate.getDate() )+"."+( (firstdate.getMonth()+1 < 10 ? '0' : '')+(firstdate.getMonth()+1) )+"."+firstdate.getFullYear();
                newurl+="&to=";
                newurl+=( (seconddate.getDate() < 10 ? '0' : '')+seconddate.getDate() )+"."+( (seconddate.getMonth()+1 < 10 ? '0' : '')+(seconddate.getMonth()+1) )+"."+seconddate.getFullYear();
                
                $("#filterbydate").attr("href", newurl);
            }
            $(function() {
                $('[data-toggle="datepickerfrom"]').datepicker({
                  autoHide: true,
                  zIndex: 2048,
                  format: 'dd.mm.yyyy',
                  autoPick: true,
                  date: "{{datetime["from"]}}",
                  pick: function(evt) {
                      //console.log(date);
                      firstdate = evt.date;
                      reformatDateSelectionURL();
                  }
                });
            });
            $(function() {
                $('[data-toggle="datepickerto"]').datepicker({
                  autoHide: true,
                  zIndex: 2048,
                  format: 'dd.mm.yyyy',
                  autoPick: true,
                  date: "{{datetime["to"]}}",
                  pick: function(evt) {
                      //console.log(date);
                      seconddate = evt.date;
                      reformatDateSelectionURL();
                  }
                });
            });
            {% include 'manualScanEvtSubtemplatePart2.twig' with {'frmdatepickuniqueID':'datepick_newitm', 'frmtimepickuniqueID':'timepick_newitm', 'frmentitypickuniqueID':'entitypick_newitm' } %}
            {# {% include 'manualScanEvtSubtemplatePart2.twig' with {'frmdatepickuniqueID':'datepick_upditm', 'frmtimepickuniqueID':'timepick_upditm', 'frmentitypickuniqueID':'entitypick_upditm' } %} #}
        </script>
    </body>
</html>