{# display aggregated workhours sheet #}
<html>
    <head>
        <meta charset="UTF8">
        <title> {{ localizedmessages['header']|default('SM_NM Scanner') }} </title>
        <style>
                /* Tooltip container */
                .tooltip {
                    position: relative;
                    display: inline-block;
                    /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
                }
                /* Tooltip text */
                .tooltip .tooltiptext {
                    visibility: hidden;
                    width: 120px;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    padding: 5px 0;
                    border-radius: 6px;

                    /* Position the tooltip text - see examples below! */
                    position: absolute;
                    z-index: 1;
                }
                /* Show the tooltip text when you mouse over the tooltip container */
                .tooltip:hover .tooltiptext {
                    visibility: visible;
                }
        </style>
        <link rel="stylesheet" type="text/css" href="../../webtemplatesresources/commonbar.css" >
        <link rel="stylesheet" type="text/css" href="../../webtemplatesresources/registeredlist3.css">
        <script type="text/javascript" src="../../webtemplatesresources/jquery-3.3.1.min.js">  </script>
        
        <script type="text/javascript" src="../../webtemplatesresources/fengdatepicker/datepicker.js"> </script>
        <link rel="stylesheet" href="../../webtemplatesresources/fengdatepicker/datepicker.min.css">
        
    </head>    
    <body>
        <div style="display:inline-block" id="hugewrapper">
        <div style="width:100%"> <a href="/">[<<<]</a> </div>
        {% include 'commonbar.twig' %}
        
        <div style="width:100%" style="margin-bottom:10px">
            <input type="text" id="startPicker" data-toggle="datepickerfrom" readonly="readonly" > 
            <input type="text" id="endPicker" data-toggle="datepickerto" readonly="readonly" >
            <a href="/list/v3?from={{datetime["fromstring"]}}&to={{datetime["tostring"]}}" id="filterbydate">{{localizedmessages["filterbydate"]|default('[By Date]')}}</a>
        </div>
        
        <h4>{{localizedmessages['tableheaderv3']|default('Here be aggregated page')}}</h4>
        <div style="width:100%; padding-left: 5px;"><a href="/list/v3?from={{datetime["fromstring"]}}&to={{datetime["tostring"]}}&out=xlsx" id="filterbydate">[XLSX]</a></div>
        <table class="aggregatedtable-goodborder">
            <thead class="aggregatedtable-goodborder"> 
                <tr class="aggregatedtable-goodborder"> 
                    <th class="aggregatedtable-goodborder aggregatedtable-th">...</th>
                    {% set datessize = scanlist.AllDates|length %}
                    {% for dateitem in scanlist.AllDates %}
                    {% if (dateitem[1]<6) %}
                        <th class="aggregatedtable-goodborder aggregatedtable-th"> 
                    {% else %}
                        <th class="aggregatedtable-goodborder aggregatedtable-th aggregatedtable-th-holiday">
                    {% endif %}
                        {{dateitem[0]}} <br /> {{localizedmessages['weekdays'][dateitem[1]]}} 
                    </th>
                    {% endfor %}
                </tr>
            </thead> 
            <tbody class="aggregatedtable-goodborder">
                {% for barcodekey, arrayvalue in scanlist.AllUsers %}
                <tr class="aggregatedtable-goodborder"> 
                    <td class="aggregatedtable-goodborder aggregatedtable-td" rowspan="2">{{arrayvalue.display}}</td>
                    {% for i in 1..datessize %}
                        
                            {% if arrayvalue.timedarray[i-1] is defined %}
                                {% if (scanlist.AllDates[i-1][1]<6) %}
                            <td class="aggregatedtable-goodborder aggregatedtable-td">    
                                {% else %}
                            <td class="aggregatedtable-goodborder aggregatedtable-td aggregatedtable-td-holiday">            
                                {% endif%}
                                <span>{{arrayvalue.timedarray[i-1][0]}}</span> <br/>
                                <span>{{arrayvalue.timedarray[i-1][1]|number_format(4,'.')}}</span>
                            {% else %}
                                {% if (scanlist.AllDates[i-1][1]<6) %}
                            <td class="aggregatedtable-goodborder aggregatedtable-noentries aggregatedtable-td">    
                                {% else %}
                            <td class="aggregatedtable-goodborder aggregatedtable-td-holiday aggregatedtable-td" >
                                {% endif %}
                                <span>00:00:00</span> <br/> <span>0.0</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {%for j in 1..datessize %}
                        {% if arrayvalue.timedarray[j-1] is defined %}
                            {% if (scanlist.AllDates[j-1][1]<6) %}
                            <td class="aggregatedtable-goodborder aggregatedtable-td" style="color: red">
                            {% else %}
                            <td class="aggregatedtable-goodborder aggregatedtable-td aggregatedtable-td-holiday" style="color: red">
                            {% endif %}
                                <div class="tooltip">{{arrayvalue.timedarray[j-1][3] | default("00:00:00")}} <span class="tooltiptext">{{localizedmessages["overtimetext"]|default('Overtime')}}</span> </div> <br/>
                                <span>{{arrayvalue.timedarray[j-1][4]|number_format(4,'.')|default('value')}}</span>
                                
                        {% else %}
                                {% if (scanlist.AllDates[j-1][1]<6) %}
                            <td class="aggregatedtable-goodborder aggregatedtable-noentries aggregatedtable-td">    
                                {% else %}
                            <td class="aggregatedtable-goodborder aggregatedtable-td-holiday aggregatedtable-td" >
                                {% endif %}
                                <span>00:00:00</span> <br/> <span>0.0</span>
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}                
            </tbody>
        </table>
        </div>    
                <script type="text/javascript">
            var firstdate = new Date( parseInt("{{datetime["from"]}}".substring(6,10)), parseInt("{{datetime["from"]}}".substring(3,5)), parseInt("{{datetime["from"]}}".substring(0,2)) ); 
            var seconddate = new Date( parseInt("{{datetime["to"]}}".substring(6,10)), parseInt("{{datetime["to"]}}".substring(3,5)), parseInt("{{datetime["to"]}}".substring(0,2)) );;
            function reformatDateSelectionURL() {
                let newurl = "/list/v3?from=";
                newurl+=( (firstdate.getDate() < 10 ? '0' : '')+firstdate.getDate() )+"."+( (firstdate.getMonth()+1 < 10 ? '0' : '')+(firstdate.getMonth()+1) )+"."+firstdate.getFullYear();
                newurl+="&to=";
                newurl+=( (seconddate.getDate() < 10 ? '0' : '')+seconddate.getDate() )+"."+( (seconddate.getMonth()+1 < 10 ? '0' : '')+(seconddate.getMonth()+1) )+"."+seconddate.getFullYear();
                
                $("#filterbydate").attr("href", newurl);
            }
            $(function() {
                $('[data-toggle="datepickerfrom"]').datepicker({
                  autoHide: true,
                  zIndex: 2048,
                  format: 'dd.mm.yyyy',
                  autoPick: true,
                  date: "{{datetime["from"]}}",
                  pick: function(evt) {
                      //console.log(date);
                      firstdate = evt.date;
                      reformatDateSelectionURL();
                  }
                });
            });
            $(function() {
                $('[data-toggle="datepickerto"]').datepicker({
                  autoHide: true,
                  zIndex: 2048,
                  format: 'dd.mm.yyyy',
                  autoPick: true,
                  date: "{{datetime["to"]}}",
                  pick: function(evt) {
                      //console.log(date);
                      seconddate = evt.date;
                      reformatDateSelectionURL();
                  }
                });
            });
            
            // https://www.htmlgoodies.com/beyond/javascript/article.php/3724571/Using-Multiple-JavaScript-Onload-Functions.htm
            
            $(function() {
                let usedwidth = $("div#hugewrapper").css("width");
                $("html").css("width", usedwidth);
                $("body").css("width", usedwidth);
            });
        </script>    
            
    </body>
</html>