<html>
    <head>
        <meta charset="UTF8">
        <link rel="stylesheet" type="text/css" href="../../webtemplatesresources/commonbar.css" >
        <title> {{ localizedmessages['header']|default('SM_NM Scanner') }} </title>
        <script type="text/javascript" src="../webtemplatesresources/jquery-3.3.1.min.js">  </script>
        <link rel="stylesheet" type="text/css" href='../webtemplatesresources/timepicker/jquery.timepicker.min.css' >
        <script type="text/javascript" src="../webtemplatesresources/timepicker/jquery.timepicker.min.js">  </script>
        {# https://www.w3schools.com/css/css_tooltip.asp #}
        <style>
        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
        }
        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }
        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
        .div-formborder {
            border-bottom: 1px dashed black; 
            padding-bottom: 5px; margin-bottom: 5px
        }
        
        </style>
        
        <script>
            function recalculatelimitbyworkday(checkboxElem) {
                /*
                if (checkboxElem.checked === false) { 
                    document.getElementById('usetimeonlylimitedbyworkday').setAttribute("disabled", "disabled");
                    document.getElementById('usetimeonlylimitedbyworkday').checked = false;
                } else {
                    
                    document.getElementById('usetimeonlylimitedbyworkday').removeAttribute("disabled");
                }
                */
            }
            // https://github.com/jonthornton/jquery-timepicker
            $(document).ready(function() {
                $('#TIMESTART').timepicker({'timeFormat': 'H:i'});
                $('#TIMEEND').timepicker({'timeFormat': 'H:i'});
            });
            function validateForm() {
                let timestartjq = $('#TIMESTART'); let validationfailed = false;
                let timeendjq = $('#TIMEEND');
                let re=/\d\d:\d\d/;
                if (re.test(timestartjq.val()) == false) {
                    timestartjq.css("border-color", "red");
                    validationfailed = true;
                }
                if (re.test(timeendjq.val()) == false) {
                    timeendjq.css("border-color", "red");
                    validationfailed = true;
                }
                if (validationfailed) {return false;}
                var time1 = timestartjq.timepicker('getTime');
                var time2 = timeendjq.timepicker('getTime');
                if (time2<time1) {
                    let time3=time1;
                    time1 = time2;
                    time2= time3;
                    $('#TIMESTART').timepicker('setTime', time1);
                    $('#TIMEEND').timepicker('setTime', time2);
                }
                var hours = Math.abs(time1 - time2) / 36e5;
                if (hours<8) {
                    if (confirm('{{localizedmessages["optsmsgless8hours"]|default('Difference between time is less than 8 hours. Is it OK?')}}')) {
                        return true;
                    } else {return false;}
                }
                return true;
            }
            function validateFormCustomTime() {
                return true;
            }
        </script>
    </head>
    <body>
        <div style="width:100%"> <a href="/">[<<<]</a> </div>
        {% include 'commonbar.twig' %}
        <h4> {{ localizedmessages['optscaption']|default('Settings page') }} </h4>
<div class="div-formborder">        
<form name="myform" action="/saveoptions" onsubmit="return validateForm();" method="post">
        <p> {{ localizedmessages['optsdefaultschedule'] }} </p>
        <p> 
            <input id="TIMESTART" name="timestart" type="text" class="time" value="{{defaultschedule["TIMESTART"]}}" style="width: 105px"/> 
            <input id="TIMEEND" name="timeend"   type="text" class="time" value="{{defaultschedule["TIMEEND"]}}" style="width: 105px"/>
        </p>
        <p><input type="checkbox" id="useworkschedule" name="useschedule" {% if ((commonconfig['UWSchd'] is defined) and (commonconfig['UWSchd'])) %} checked="checked" {% endif %} value="1" onchange="recalculatelimitbyworkday(this);" ><span>{{localizedmessages["optsuseworkschedule"]}}</span></p>
        {# THE FOLLOWING LINE RELATES TO THE OPTION: USE OR NOT USE THE time only limited by work day. IT IS A BIT SOPHISTICATED... ENABLE IT WHEN IT IS CLEARLY KNOWN WHAT DOES THIS OPTION SHOULD ACTIVATE #}
        <p style="margin-left: 30px; margin-top: 0px" class="tooltip"><input type="checkbox" id="usetimeonlylimitedbyworkday" name="limitbyworkdaytime" {% if ((commonconfig['UTLWrkDay'] is defined) and (commonconfig['UTLWrkDay'])) %} checked {% endif %} 
                  {% if not((commonconfig['UWSchd'] is defined) and (commonconfig['UWSchd'])) %} disabled="disabled" {% endif %} value="1" >
            <span>{{localizedmessages["optsusetimeonlylimitedbyworkday"]}}</span> <span class="tooltiptext">{{localizedmessages["meaningless"]}}</span> </p>
        <br />
        <input type="submit" name="submitbtn" value="[====]">
</form>
</div>
<div class="div-formborder">
    <form name="myformcustomtime" action="/savecustomworktime" onsubmit="return validateFormCustomTime();" method="post">
        <p> {{ localizedmessages['optscustomtimeheader']|default('Custom work time for worker (overrides a common schedule)') }} </p>
        <div style="width:80%" class="clearfix">
            <div style="width:59%; float: left">
                <div style="width:100%">
                    <span> {{ localizedmessages['optscustomtimestart']|default('Start time') }} </span>
                    <input id="CUSTOMTIMESTART" name="customtimestart" type="text" class="time" value="{{defaultschedule["TIMESTART"]}}" style="width: 105px"/> 
                    <select name="customtimestarttype"> 
                        <option value="currentday" selected>{{ localizedmessages['optscurrentdayselect']|default('Current day') }}</option> 
                        <option value="nextday">{{ localizedmessages['optsnextdayselect']|default('Next day') }}</option> 
                    </select>
                </div>
                <div style="width:100%">
                    <span> {{ localizedmessages['optscustomtimeend']|default('End time') }} </span>
                    <input id="CUSTOMTIMEEND" name="customtimeend" type="text" class="time" value="{{defaultschedule["TIMEEND"]}}" style="width: 105px"/> 
                    <select name="customtimeendtype"> 
                        <option value="currentday" selected>{{ localizedmessages['optscurrentdayselect']|default('Current day') }}</option> 
                        <option value="nextday">{{ localizedmessages['optsnextdayselect']|default('Next day') }}</option> 
                    </select>
                </div>
            </div>
            <div style="width:29%; float: left">
                <select name="customtimeentity"> 
                {# list here users #}
                {% for item in availableEntriesForSpecialWorktime %}
                    <option value="{{item.ID}}"> item.completeEntry </option>
                {% endfor %}
                </select>
            </div>
        </div>
    </form>
</div>
        
    </body>
</html>