<html>
    <head> 
        <meta charset="UTF8">
        <title> {{ localizedmessages['registeredlistprintwndcaption']|default('SM_NM Scanner') }} </title>
        <link rel="stylesheet" type="text/css" href="http://{{thishost}}/webtemplatesresources/printpage.css" >
        <link rel="stylesheet" type="text/css" href="http://{{thishost}}/webtemplatesresources/commonbar.css" >
        
    </head>
    <body>
        <div id="printarea">
            {% set odditycounter = 1 %}
            {% for singleregistration in renderlist %}
                {% if (odditycounter == 1) %}
                    <div style="width:100%" class="clearfix">
                    <div class="printsection printsectionleft">
                        <div class="namefield">
                    {{ singleregistration.FIELD1|default(' ')|e }} {{ singleregistration.FIELD2|default(' ')|e }} {{ singleregistration.FIELD3|default(' ')|e }}
                        </div>
                    <br>
                        <img src="http://{{thishost}}/{{ singleregistration.PATHTOBARCODE }}" alt="barcodeimg" class="imgfield" />
                    <div> {{ singleregistration.RAWBARCODEREGISTERED }} </div>
                    <div>{{ singleregistration.FIELDPOSITION }}</div>
                    </div>
                    {% set odditycounter = 2 %}
                {%else%}
                    <div class="printsection printsectionleft">
                        <div class="namefield">
                    {{ singleregistration.FIELD1|default(' ')|e }} {{ singleregistration.FIELD2|default(' ')|e }} {{ singleregistration.FIELD3|default(' ')|e }}
                        </div>
                    <br>
                    <img src="http://{{thishost}}/{{ singleregistration.PATHTOBARCODE }}" alt="barcodeimg" class="imgfield" />
                    <div> {{ singleregistration.RAWBARCODEREGISTERED }} </div>
                    </div>
                    {% set odditycounter = 1 %}
                    </div>
                {% endif %}
                
            {% endfor %}
        </div>
    </body>
</html>