<html>
    <head>
        <meta charset="UTF8">
        <title> {{ localizedmessages['header']|default('SM_NM Scanner') }} </title>
        <link type="text/css" rel="stylesheet" href="../webtemplatesresources/commonbar.css" >
        <link type="text/css" rel="stylesheet" href="../webtemplatesresources/registeredcodes.css" >
        <script type="text/javascript" src="../webtemplatesresources/jquery-3.3.1.min.js">  </script>
        <script type="text/javascript">
            var descrArray = [];
            var barcodeValueValid = false;
            var barcodeCurrentlySelected = "empty";
            
            function validateCodeInput(in_currentValueBarcode, in_selectedBarcodeType) {
                var re = "";

                switch (in_selectedBarcodeType) {
                    case "EAN8": {
                        re = /\d\d\d\d\d\d\d/;
                        break;
                    }
                    case "EAN13": {
                        re = /\d\d\d\d\d\d\d\d\d\d\d\d/;
                        break;
                    }
                    case "CODE128": {
                        re = /[a-z0-9A-Z]+/;
                        break;
                    }
                    default: {
                            return false;
                    }
                }
                
                return re.test(in_currentValueBarcode);
            }
            // subroutine which is used to send XHR to add new entry
            function processEntry(in_stringEntryToProcess) {
                // https://learn.javascript.ru/ajax-xmlhttprequest
                // https://learn.javascript.ru/xhr-forms
                // https://learn.javascript.ru/ajax
                var stringContent = in_stringEntryToProcess["rawcode"];
                console.log(in_stringEntryToProcess);
                if (stringContent === "") {return;}
                var XHR = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
                
                var o1 = { newbarcode: "", codetype: "", fldinput1: "", fldinput2: "", fldinput3: ""}; 
                //remove non-printable ASCII characters, just to be sure
                o1.newbarcode = stringContent; o1.barcodetype = in_stringEntryToProcess["codetype"]; 
                o1.fldinput1 = in_stringEntryToProcess["fldinput1"]; o1.fldinput2 = in_stringEntryToProcess["fldinput2"]; o1.fldinput3 = in_stringEntryToProcess["fldinput3"]; 
                
                var jsonbody = JSON.stringify(o1);
                XHR.open("POST", "/newbarcode", true);
                XHR.onreadystatechange = function() {
                    if (XHR.readyState != 4) return;
                    if (XHR.status != 200) {
                        alert(XHR.status + ': ' + XHR.statusText);
                    } else {
                        //alert(XHR.responseText);
                        var rawresponse = JSON.parse(XHR.responseText);
                        // add here barcode to list
                        console.log(rawresponse[0]);
                        if (rawresponse[0].status==="OK") {
                            var $newrow = $("<tr class=\"stat-data\"> </tr>");
                            $newrow.append("<td class=\"stat-data\"> "+rawresponse[0].backtrackdata.ID+"<br />"+
                            "<input type=\"checkbox\" name=\"checkbox_Name"+rawresponse[0].backtrackdata.ID+"\" id=\"checkbox_ID"+rawresponse[0].backtrackdata.ID+"\" class=\"printcheckbox\" data-identifier=\""+rawresponse[0].backtrackdata.ID+"\">"
                            +" </td>");
                            $newrow.append("<td class=\"stat-data\" style=\"padding-left:20px; padding-right:20px\"> "+"<img src=\""+rawresponse[0].addedfilepath+"\" alt=\"barcodeimg\" />"+" </td>");
                            $newrow.append("<td class=\"stat-data\"> "+rawresponse[0].backtrackdata.newbarcode+" </td>");
                            $newrow.append("<td class=\"stat-data\"> "+rawresponse[0].backtrackdata.fldinput1+" </td>");
                            $newrow.append("<td class=\"stat-data\"> "+rawresponse[0].backtrackdata.fldinput2+" </td>");
                            $newrow.append("<td class=\"stat-data\"> "+rawresponse[0].backtrackdata.fldinput3+" </td>");
                            $newrow.append("<td class=\"stat-data\"> "+rawresponse[0].backtrackdata.barcodetype+" </td>");
                            $newrow.append("<td> <input type=\"button\" value=\"{{localizedmessages["registeredlistsingleeditbtn"]}}\"> <br /> <input type=\"button\" value=\"{{localizedmessages["registeredlistsingleremovebtn"]}}\"> </td>");
                            
                            $("table#table-registereditems").prepend($newrow);
                        } else {
                            switch (rawresponse[0].status) {
                                case "FAIL_ALREADYEXIST": {
                                        alert("{{localizedmessages["registeredlistalreadyexist"]}}");
                                        break;
                                }
                                default: {
                                        break;
                                }
                            }
                        }
                    }                    
                };
                XHR.setRequestHeader('Content-Type', 'application/json');
                XHR.send(jsonbody);
            }
            $(document).ready(function() {
                descrArray['EAN8']="{{localizedmessages["registeredlistnewitemdescrean8"]}}";
                descrArray['EAN13']="{{localizedmessages["registeredlistnewitemdescrean13"]}}";
                descrArray['CODE128']="{{localizedmessages["registeredlistnewitemdescrcode128"]}}";
                
                $("#div-newcode-barcodedescr").text( descrArray['CODE128'] );
                barcodeCurrentlySelected = "CODE128";
                
                
                $("#newcodebtn").click( //handler for button inside input form
                    function() {
                        if (barcodeValueValid === false) {
                            return;
                        }
                        var processableEntry = [];
                        processableEntry["rawcode"] = $("#newcodeinput").val();
                        if  ( ( processableEntry["rawcode"].length == 0)||(processableEntry["rawcode"] == "") ) {
                            alert("{{localizedmessages["registeredlistnorawcode"]}}");
                            return;
                        }
                        processableEntry["codetype"] = $("#newcode-barcodetypes").val();
                        processableEntry["fldinput1"] = $("#fldinput1").val();
                        processableEntry["fldinput2"] = $("#fldinput2").val();
                        processableEntry["fldinput3"] = $("#fldinput3").val();
                        processEntry( processableEntry );
                        } );
                     
                $("#printbtn").click( function() { //print out the selected list items in nice format Print Selected
                    var collectionIDs = $(".printcheckbox:checked"); var jsonBODY = [];
                    collectionIDs.each( function() {
                            jsonBODY.push(this.getAttribute("data-identifier")); 
                    } );
                    if (jsonBODY.length <= 0) {
                        alert("{{localizedmessages["registeredlistnoitemstoprint"]}}");
                        return;
                    }
                    var XHR = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
                    console.log(jsonBODY);
                     var o1 = { barcodeslist: "" }; 
                     o1.barcodeslist = jsonBODY;
                     var jsonbody2 = JSON.stringify(o1);
                    XHR.open("POST", "/printpage", true);
                    XHR.onreadystatechange = function() {
                    if (XHR.readyState != 4) return;
                        if (XHR.status != 200) {
                            alert(XHR.status + ': ' + XHR.statusText);
                        } else {
                            var w = window.open();
                            $(w.document.body).html(XHR.response);
                            //console.log(XHR);
                        }
                    };
                    
                    XHR.setRequestHeader('Content-Type', 'application/json');
                    XHR.send(jsonbody2);
                } );
                        
                });

                $(document).on('change',"#newcode-barcodetypes",
                 function() {
                     barcodeCurrentlySelected = $(this).val();
                    if ($(this).val() === 'empty') { $("#div-newcode-barcodedescr").text(" "); }
                    $("#div-newcode-barcodedescr").text( descrArray[$(this).val()] );
                    
                    barcodeValueValid = validateCodeInput($("#newcodeinput").val(),barcodeCurrentlySelected);
                    console.log(barcodeValueValid);
                    if (barcodeValueValid === false) {
                                  $("#newcodeinput").addClass("red-border");
                                  $("#newcodeinput").focus();
                    } else {
                        $("#newcodeinput").removeClass("red-border");
                    }
                    
                });
                //validate input
                $(document).on('keyup',"#newcodeinput",
                 function(){ 
                    barcodeValueValid = validateCodeInput($(this).val(),barcodeCurrentlySelected);
                    console.log(barcodeValueValid);
                    if (barcodeValueValid === false) {
                                  $(this).addClass("red-border");
                                  $(this).focus();
                    } else {
                        $(this).removeClass("red-border");
                    }
                });
        </script>
    </head>
    <body>
        <div style="width:100%"> <a href="/">[<<<]</a> </div>
        {% include 'commonbar.twig' %}
        <div id="div-newcodecommon">
        <form>
            <div style="width:100%" class="clearfix"> 
                <div class="div-newcodecolN1">{{ localizedmessages['ncodefield1']|default('Field 1')|e }}</div> 
                <div class="div-newcodecolN2"> <input type="text" name="fldinput1" id="fldinput1"> </div>
            </div>
            <div style="width:100%" class="clearfix">
                <div class="div-newcodecolN1">{{ localizedmessages['ncodefield2']|default('Field 2')|e }}</div> 
                <div class="div-newcodecolN2"> <input type="text" name="fldinput2" id="fldinput2"> </div>
            </div>
            <div style="width:100%" class="clearfix">
                <div class="div-newcodecolN1">{{ localizedmessages['ncodefield3']|default('Field 3')|e }}</div> 
                <div class="div-newcodecolN2"> <input type="text" name="fldinput3" id="fldinput3"> </div>
            </div>
            <div style="width:100%" class="clearfix">
                <div class="div-newcodecolN1">{{ localizedmessages['ncodebarcode']|default('Barcode Data')|e }}</div> 
                <div class="div-newcodecolN2"> <input type="text" name="newcodeinput" id="newcodeinput">  </div>
            </div>
            <div style="width:100%" class="clearfix">
                <div class="div-newcodecolN1">{{ localizedmessages['ncodebarcodetype']|default('Barcode Type')|e }}</div>
                <div class="div-newcodecolN2"> 
                    <select name="barcodetypes" id="newcode-barcodetypes"> <option value="empty"> </option> <option value="EAN13">EAN13</option> 
                        <option value="EAN8">EAN8</option> <option value="CODE128" selected>CODE128</option> </select> </div>
            </div>
            <div style="width:100%" id="div-newcode-barcodedescr"> 
                
            </div>
            <div style="width:100%" id="div-newcode-barcodewarning"> 
                
            </div>
            <input type="button" value="[>>>]" name="newcodebtn" id="newcodebtn">
        </form>
        </div>
                {% if  registeredinfo|length > 0 %}
                <input type="button" name="printbtn" id="printbtn" value="{{ localizedmessages['registeredlistprint'] }}"> <br/>
                {%endif%}
        <table id = "table-registereditems" class="stat-data">
            <thead>
                <th class="stat-data">&nbsp;</th> 
                <th class="stat-data"> {{localizedmessages["registeredlistbarcodecapt"]}} </th>
                <th class="stat-data"> {{localizedmessages["ncodebarcode"]}} </th>
                
                <th class="stat-data"> {{localizedmessages["ncodefield1"]}} </th>
                <th class="stat-data"> {{localizedmessages["ncodefield2"]}} </th>
                <th class="stat-data"> {{localizedmessages["ncodefield3"]}} </th>
                
                <th class="stat-data"> {{localizedmessages["ncodebarcodetype"]}} </th>
                <th class="stat-data">&nbsp;</th>
            </thead>
            {% for singleregistration in registeredinfo %}
            <tr class="stat-data" data-rowid="{{singleregistration.ID}}"> 
                <td class="stat-data">{{ singleregistration.ID|default('-----')|e }} <br>
                {% if singleregistration.ID is not empty %}
                    <input type="checkbox" name="checkbox_Name{{singleregistration.ID}}" id="checkbox_ID{{singleregistration.ID}}" class="printcheckbox" data-identifier="{{singleregistration.ID}}">
                {% endif %}
                </td>
                {% if singleregistration.PATHTOBARCODE is not empty %}
                <td class="stat-data" style="padding-left:20px; padding-right:20px"><img data-entryid-img="{{singleregistration.ID}}" src="{{ singleregistration.PATHTOBARCODE }}" alt="barcodeimg" /></td>
                {% else %}
                <td class="stat-data"> ----- </td>
                {% endif %}
                <td class="stat-data">
                    <span data-recordentryid="{{singleregistration.ID}}" class="recordentry-edit"> <input type="text" value="{{ singleregistration.RAWBARCODEREGISTERED|e }}" name="recordentry-input-rawbarcode"> </span>
                    <span data-recordentryid="{{singleregistration.ID}}" class="recordentry-text recordentry-span-rawbarcode">{{ singleregistration.RAWBARCODEREGISTERED|default('-----')|e }}</span>
                </td>
                <td class="stat-data">
                    <span data-recordentryid="{{singleregistration.ID}}" class="recordentry-edit"> <input type="text" value="{{ singleregistration.FIELD1|e }}" name="recordentry-input-field1"> </span>
                    <span data-recordentryid="{{singleregistration.ID}}" class="recordentry-text recordentry-span-field1" >{{ singleregistration.FIELD1|default('-----')|e }}</span>
                </td>
                <td class="stat-data">
                    <span data-recordentryid="{{singleregistration.ID}}" class="recordentry-edit"> <input type="text" value="{{ singleregistration.FIELD2|e }}" name="recordentry-input-field2"> </span>
                    <span data-recordentryid="{{singleregistration.ID}}" class="recordentry-text recordentry-span-field2">{{ singleregistration.FIELD2|default('-----')|e }}</span>
                </td>
                <td class="stat-data">
                    <span data-recordentryid="{{singleregistration.ID}}" class="recordentry-edit"> <input type="text" value="{{ singleregistration.FIELD3|e }}" name="recordentry-input-field3"> </span>
                    <span data-recordentryid="{{singleregistration.ID}}" class="recordentry-text recordentry-span-field3">{{ singleregistration.FIELD3|default('-----')|e }}</span>
                </td>
                <td class="stat-data">
                    {# <span data-recordentryid="{{singleregistration.ID}}" class="recordentry-edit"> <input type="text" value="{{ singleregistration.BARCODETYPE|e }}"> </span> #}
                    <span data-recordentryid="{{singleregistration.ID}}" {# class="recordentry-text" #}>{{ singleregistration.BARCODETYPE|default('-----')|e }}</span>
                </td>
                <td> <input type="button" value="{{localizedmessages["registeredlistsingleeditbtn"]}}" data-editbtn-id="{{singleregistration.ID}}" data-editbtn-mode="edit" onclick="invokeedit(event);"> <br /> 
                     <input type="button" value="{{localizedmessages["registeredlistsingleremovebtn"]}}" data-removebtn-id="{{singleregistration.ID}}" onclick="invokeremove(event);"> </td>
            </tr>
            {% endfor %}
        </table>
        <script>
            var globalSaveBtnUsed = 0; //used to control that only one entry is being edited
            //contains XHR to remove the registered barcodes
            function removeItemsArray(in_ArrayToRemove, in_callbackAfterXHR) {
                var XHR = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
                var o1svinkapeppa = { barcodestoremove: [] };
                o1svinkapeppa.barcodestoremove = in_ArrayToRemove;
                var jsonbody = JSON.stringify(o1svinkapeppa);                
                XHR.open("POST", "/removecode", true);
                XHR.onreadystatechange = function() {
                    if (XHR.readyState != 4) return;
                        if (XHR.status != 200) {
                            alert(XHR.status + ': ' + XHR.statusText);
                        } else {
                            in_callbackAfterXHR();
                        }
                };
                XHR.setRequestHeader('Content-Type', 'application/json');
                XHR.send(jsonbody);
            }
            //contains XHR to modify the SINGLE registered barcode
            function modifyItemsArray(in_ToModify, in_callbackAfterXHR) {
                var XHR = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
                var o1jsonobject = { barcodetomodify: {} };
                o1jsonobject.barcodetomodify=in_ToModify;
                var jsonbody = JSON.stringify(o1jsonobject);
                XHR.open("POST", "/updatecode", true);
                XHR.onreadystatechange = function() {
                    if (XHR.readyState != 4) return;
                        if (XHR.status != 200) {
                                alert(XHR.status + ': ' + XHR.statusText);
                        } else {
                            var rawresponse = JSON.parse(XHR.responseText);
                            in_callbackAfterXHR(rawresponse[0].addedfilepath);
                        }
                };
                XHR.setRequestHeader('Content-Type', 'application/json');
                XHR.send(jsonbody);
            }
            //EDIT HANDLER AND REMOVE HANDLER. pass parameters to button handler as here: https://stackoverflow.com/a/38632590/
            invokeedit = (event) => {
                let arg1 = event.target.getAttribute('data-editbtn-id'); //id of item to process
                let arg2 = event.target.getAttribute('data-editbtn-mode'); //mode of button: edit or save
                if ((arg2==="edit")&&(globalSaveBtnUsed === 0)) { //switch to Save and make row editable
                    event.target.setAttribute("value", "{{localizedmessages["registeredlistsinglesavebtn"]}}");
                    globalSaveBtnUsed = 1;
                    $('span.recordentry-text[data-recordentryid=\"'+arg1+'\"]').toggle();
                    $('span.recordentry-edit[data-recordentryid=\"'+arg1+'\"]').toggle();
                    event.target.setAttribute('data-editbtn-mode', "save");
                } else if (arg2==="save") { //switch to edit and save data
                    globalSaveBtnUsed = 0;
                    event.target.setAttribute("value", "{{localizedmessages["registeredlistsingleeditbtn"]}}");
                    //assemble data for edit
                    var collectedDataForEdit={ID:"", rawbarcode:"", field1:"", field2:"", field3:""};
                    collectedDataForEdit.ID = arg1;
                    collectedDataForEdit.rawbarcode = $('span.recordentry-edit[data-recordentryid=\"'+arg1+'\"] input[name=\"recordentry-input-rawbarcode\"]').val();
                    collectedDataForEdit.field1 = $('span.recordentry-edit[data-recordentryid=\"'+arg1+'\"] input[name=\"recordentry-input-field1\"]').val();
                    collectedDataForEdit.field2 = $('span.recordentry-edit[data-recordentryid=\"'+arg1+'\"] input[name=\"recordentry-input-field2\"]').val();
                    collectedDataForEdit.field3 = $('span.recordentry-edit[data-recordentryid=\"'+arg1+'\"] input[name=\"recordentry-input-field3\"]').val();
                    //send request with collected data
                    var callbackUpdateRow = function(in_newURL) { //callback is called when request succeeded
                        console.log("callbackUpdateRow"); console.log(in_newURL); console.log(arg1);
                        $('span.recordentry-span-rawbarcode[data-recordentryid=\"'+arg1+'\"]').text(collectedDataForEdit.rawbarcode);
                        $('span.recordentry-span-field1[data-recordentryid=\"'+arg1+'\"]').text(collectedDataForEdit.field1);
                        $('span.recordentry-span-field2[data-recordentryid=\"'+arg1+'\"]').text(collectedDataForEdit.field2);
                        $('span.recordentry-span-field3[data-recordentryid=\"'+arg1+'\"]').text(collectedDataForEdit.field3);
                        $('img[data-entryid-img=\"'+arg1+'\"]').attr("src",in_newURL);
                    };
                    console.log(collectedDataForEdit);
                    modifyItemsArray(collectedDataForEdit, callbackUpdateRow);
                    
                    $('span.recordentry-text[data-recordentryid=\"'+arg1+'\"]').toggle();
                    $('span.recordentry-edit[data-recordentryid=\"'+arg1+'\"]').toggle();
                    event.target.setAttribute('data-editbtn-mode', "edit");
                }
                console.log("Handling button: "+arg1);
            };
            invokeremove = (event) => {
                var arg1 = event.target.getAttribute('data-removebtn-id');
                console.log("Handling remove button: "+arg1);
                var callbackRemoveRow = function() {
                    //get row(s) with selected data https://api.jquery.com/attribute-equals-selector/
                    // https://stackoverflow.com/a/21756787/
                   $('tr[data-rowid=\"'+arg1+'\"]').remove();
                };
                removeItemsArray( [arg1], callbackRemoveRow );
            };
        </script>
    </body>
</html>